services:
  localstack:
    container_name: localstack_main
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./localstack_data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  
  redis:
    container_name: redis_main
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    volumes:
      - "./redis_data:/data" # For data persistence
